* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  #site_header {
    border-bottom: 1px solid #ededed;
    padding: 20px;
  }
  
  #site_header .top {
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo .link {
    font-size: 1.25rem;
    color: grey;
    text-decoration: none;
  }
  
  .logo>img {
    height: 20px;
    margin-right: 0.5rem;
  }
  
  .top>.right_menu>img {
    border-radius: 50%;
    width: 30px;
    margin-left: 20px;
  }
  
  .right_menu {
    display: flex;
    align-items: center;
    color: grey;
    padding: 20px 0;
  }
  
  .main_menu>a {
    color: gray;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
  }
  
  .main_menu>a:not(:first-child) {
    margin-left: 15px;
  }
  
  
  
  .faqs {
    width: 60%;
    margin: auto;
  }
  
  .faq {
    margin: 100px 0;
  }
  
  .faq>h2 {
    padding-bottom: 30px;
  }
  
  .answer {
    line-height: 25px;
    font-size: 0.9rem;
  }
  
  .answer ol {
    padding-left: 30px;
  }